[submodule "interpolacao"]
	path = interpolacao
	url = https://github.com/PI-25-01/interpolacao.git
[submodule "rotulacao"]
	path = rotulacao
	url = https://github.com/PI-25-01/rotulacao.git
[submodule "operacoes"]
	path = operacoes
	url = https://github.com/PI-25-01/operacoes.git
[submodule "intensidade"]
	path = intensidade
	url = https://github.com/PI-25-01/intensidade.git
[submodule "media"]
	path = media
	url = https://github.com/PI-25-01/media.git
[submodule "equalizacao"]
	path = equalizacao
	url = https://github.com/PI-25-01/equalizacao.git
[submodule "gradiente"]
	path = gradiente
	url = https://github.com/PI-25-01/gradiente.git
[submodule "laplaciano"]
	path = laplaciano
	url = https://github.com/PI-25-01/laplaciano.git
[submodule "morfologia"]
	path = morfologia
	url = git@github.com:PI-25-01/morfologia.git
