[submodule "interpolacao"]
	path = interpolacao
	url = https://github.com/PI-25-01/interpolacao.git
[submodule "rotulacao"]
	path = rotulacao
	url = https://github.com/PI-25-01/rotulacao.git
[submodule "operacoes"]
	path = operacoes
	url = https://github.com/PI-25-01/operacoes.git
[submodule "intensidade"]
	path = intensidade
	url = https://github.com/PI-25-01/intensidade.git
